<div id="accelerator">
    <div>
        <div class="flex align-middle justify-between mb-3">
            <div class="w-2/3">
                <div class="flex m-auto">
                    <img src="../../assets/images/logo/MS-Azure_logo_horiz_c-gray_rgb.png" alt="Microsoft Logo"
                        class="w-72">
                    {%- if page.partner_image and page.partner_image != '' %}
                    <div class="border-l-2 border-ms-light-gray my-4 ml-4">&nbsp;</div>
                    <div class="">
                        <img src="../../{{ page.partner_image -}}" alt="Partner Logo"
                        class="h-10 my-8 ml-8 align-middle opacity-60">
                    </div>
                    {%- endif %}
                </div>

                <article class="pl-6 w-full prose">{{ content -}}</article>
            </div>
            <div class="w-1/3 ml-8">
                <!-- Relevant Personas -->
                {%- if page.classification and page.classification != "" -%}
                {%- assign classifications = page.classification | split: "," | sort -%}
                <h3 class="mt-4">Relevant Personas</h3>
                {%- for classification in classifications -%}
                <p>{{ classification -}}</p>
                {%- endfor -%}
                {%- endif -%}
                <!-- Primary Industry -->
                {%- if page.primary_industry and page.primary_industry != "" -%}
                <h3 class="mt-4">Primary Industry</h3>
                <p>{{ page.primary_industry -}}</p>
                {%- endif -%}
                <!-- Relevant Industries -->
                {%- if page.industries and page.industries != "" -%}
                {%- assign industries = page.industries | split: "," | sort -%}
                <h3 class="mt-4">Other Relevant Industries</h3>
                {%- for industry in industries -%}
                <p>{{ industry -}}</p>
                {%- endfor -%}
                {%- endif -%}
                <!-- Technology Stack -->
                {%- if page.technology_stack  and page.technology_stack != "" -%}
                {%- assign technologies = page.technology_stack | split: "," | sort -%}
                <h3 class="mt-4">Products</h3>
                {%- for technology in technologies -%}
                <p>{{ technology -}}</p>
                {%- endfor -%}
                {%- endif -%}
                <!-- Technical Value Assets -->
                {%- if (page.github_url and page.github_url != "") or (page.demo_url and page.demo_url != "") -%}
                <h3 class="mt-4">Technical Value Assets</h3>
                {%- if page.github_url  and page.github_url != "" -%}
                <div>
                    <a href="{{ page.github_url -}}" target="_blank" rel="noopener noreferrer">
                        <i class="fa-brands fa-github fa-xs"></i> GitHub
                        Repository
                    </a>
                </div>
                {%- endif -%}
                {%- if page.demo_url  and page.demo_url != "" -%}
                <div>
                    <a href="{{ page.demo_url -}}" target="_blank" rel="noopener noreferrer">
                        <i class="fa-solid fa-cloud fa-xs"></i> Demo Environment
                    </a>
                </div>
                {%- endif -%}
                {%- endif -%}
                <!-- Business Value Assets -->
                {%- if (page.customer_overview_url  and page.customer_overview_url != "") or (page.customer_deck_url and page.customer_deck_url != "") -%}
                <h3 class="mt-4">Business Value Assets</h3>
                {%- if page.customer_overview_url  and page.customer_overview_url != "" -%}
                <div>
                    {% assign stringToCheck = page.customer_overview_url %}
                    {% assign startsWith = '/' %}
                    {% assign checkArray = stringToCheck | split:startsWith %}
                    {%- if checkArray[0] != 'assets' -%}
                    <a href="{{ page.customer_overview_url -}}" target="_blank" rel="noopener noreferrer">
                        <i class="fa-solid fa-file-pdf fa-xs"></i> Solution Overview
                    </a>
                    {%- else -%}
                    <a href="../{{ page.customer_overview_url -}}" target="_blank" rel="noopener noreferrer">
                        <i class="fa-solid fa-file-pdf fa-xs"></i> Solution Overview
                    </a>
                    {%- endif -%}
                </div>
                {%- endif -%}
                {%- if page.customer_deck_url  and page.customer_deck_url != "" -%}
                <div>
                    {% assign stringToCheck = page.customer_deck_url %}
                    {% assign startsWith = '/' %}
                    {% assign checkArray = stringToCheck | split:startsWith %}
                    {%- if checkArray[0] != 'assets' -%}
                    <a href="{{ page.customer_deck_url -}}" target="_blank" rel="noopener noreferrer">
                        <i class="fa-solid fa-file-pdf fa-xs"></i> Solution Deck
                    </a>
                    {%- else -%}
                    <a href="../{{ page.customer_deck_url -}}" target="_blank" rel="noopener noreferrer">
                        <i class="fa-solid fa-file-pdf fa-xs"></i> Solution Deck
                    </a>
                    {%- endif -%}
                </div>
                {%- endif -%}
                {%- endif -%}
                <!-- Related Accelerators -->
                {%- if page.related and page.related != "" -%}
                <h3 class="mt-4">Related Accelerators</h3>
                <div class="flex flex-col justify-start capitalize">
                    {%- assign relatedItems = page.related | split: "," | sort -%}
                    {%- for relatedItem in relatedItems -%}
                    <p>
                        <a href="{{ relatedItem | downcase }}">
                            {{ relatedItem | remove_first: ".html" | replace: "-"," " | replace: "   ", " - "}}
                        </a>
                    </p>
                    {% endfor %}
                </div>
                {%- endif -%}
                <h3 class="mt-4 md:text-2xl sm:text-xl xs:text-lg">Share</h3>
                {%- include social-links.html -%}
            </div>
        </div>
    </div>
</div>