    <nav class="flex text-ms-dark-gray bg-ms-extra-light-gray rounded-lg border border-ms-gray md:flex sm:hidden xs:hidden -mt-16"
        aria-label="Breadcrumb">
        <ol class="inline-flex items-center space-x-1 md:space-x-3 ml-6">
            <li class="inline-flex items-center" aria-current="page">
                <svg class="mr-2 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z">
                    </path>
                </svg>
                Home
            </li>
        </ol>
    </nav>
    <h2 class=" ml-6 mb-6 md:text-3xl sm:text-2xl xs:text-xl">Solution Accelerator Directory</h2>
    <div class="shuffle-js">
        <div class="accelerator-grid" role="main">
            <div id="left-container" class="flex flex-col justify-start" role="group">
                <div class="filter-links text-center border-0" data-inview-showup="showup-translate-up">
                    <a aria-label="All Items Filter" class="filter-link active" data-filter='all' href="#">All</a>
                </div>
                <h3 class="mb-1 mt-1 text-center md:text-2xl sm:text-xl xs:text-lg">Accelerator Type</h3>
                <div class="filter-links text-center" data-inview-showup="showup-translate-up">
                    <a aria-label="Solution Accelerator Family" class="filter-link" href="#"
                        data-filter='["SolutionAcceleratorFamily"]'><i class="fa-solid fa-people-group"></i> Accelerator
                        Family</a>
                    <a aria-label="Solution Accelerator" class="filter-link" href="#"
                        data-filter='["SolutionAccelerator"]'><i class="fa-solid fa-gauge"></i> Solution
                        Accelerator</a>
                    <a aria-label="Technology Accelerator" class="filter-link" href="#"
                        data-filter='["TechnologyAccelerator"]'><i class="fa-solid fa-microchip"></i>
                        Technology
                        Accelerator</a>
                    <a aria-label="Hands-On-Lab" class="filter-link" href="#" data-filter='["Hands-On-Lab"]'><i
                            class="fa-solid fa-flask"></i>
                        Hands-On-Lab</a>
                    <a aria-label="Reference Architecture" class="filter-link" href="#"
                        data-filter='["ReferenceArchitecture"]'><i class="fa-solid fa-building-columns"></i>
                        Reference Architecture</a>
                </div>
                <h3 class="mb-1 mt-1 text-center md:text-2xl sm:text-xl xs:text-lg">Status</h3>
                <div class="filter-links text-center" data-inview-showup="showup-translate-up">
                    <a aria-label="GA" class="filter-link" href="#" data-filter='["GA"]'><i class="fa-solid fa-gauge-high"></i> GA</a>
                    <a aria-label="Beta" class="filter-link" href="#" data-filter='["Beta"]'><i class="fa-solid fa-flask-vial"></i> Beta</a>
                    <a aria-label="Nominated" class="filter-link" href="#" data-filter='["Nominated"]'><i class="fa-solid fa-pen-to-square"></i> Nominated</a>
                </div>
                <h3 class="mb-1 mt-1 text-center md:text-2xl sm:text-xl xs:text-lg">Industry Alignment</h3>
                <div class="filter-links text-center" data-inview-showup="showup-translate-up">
                    <a aria-label="Automotive" class="filter-link" href="#" data-filter='["Automotive"]'><i
                            class="fa-solid fa-car"></i> Automotive</a>
                    <a aria-label="Education" class="filter-link" href="#" data-filter='["EDU"]'><i
                            class="fa-solid fa-school"></i> Education</a>
                    <a aria-label="Energy" class="filter-link" href="#" data-filter='["Energy"]'><i
                            class="fa-solid fa-bolt"></i> Energy</a>
                    <a aria-label="Financial Services" class="filter-link" href="#" data-filter='["FSI"]'><i
                            class="fa-solid fa-bank"></i> Financial
                        Services</a>
                    <a aria-label="High Tech" class="filter-link" href="#" data-filter='["HighTech"]'><i
                            class="fa-solid fa-laptop"></i> High Tech</a>
                    <a aria-label="Health & Life Services" class="filter-link" href="#" data-filter='["HLS"]'><i
                            class="fa-solid fa-hospital"></i> Health &amp;
                        Life Services</a>
                    <a aria-label="Manufacturing" class="filter-link" href="#" data-filter='["Manufacturing"]'><i
                            class="fa-solid fa-industry"></i>
                        Manufacturing</a>
                    <a aria-label="Media & Entertainment" class="filter-link" href="#"
                        data-filter='["MediaandEntertainment"]'><i class="fa-solid fa-film"></i>
                        Media
                        &amp; Entertainment</a>
                    <a aria-label="Professional Services" class="filter-link" href="#"
                        data-filter='["ProfessionalServices"]'><i class="fa-solid fa-briefcase"></i> Professional
                        Services</a>
                    <a aria-label="Retail & Consumer Goods" class="filter-link" href="#" data-filter='["Retail"]'><i
                            class="fa-solid fa-shopping-cart"></i>
                        Retail &amp; Consumer Goods</a>
                    <a aria-label="State & Local Government" class="filter-link" href="#" data-filter='["SLG"]'><i
                            class="fa-solid fa-flag"></i> State &amp; Local
                        Government</a>
                    <a aria-label="Horizontal" class="filter-link" href="#" data-filter='["Horizontal"]'><i
                            class="fa-solid fa-arrows-left-right"></i> Horizontal</a>
                </div>
                <h3 class="mb-1 mt-1 text-center md:text-2xl sm:text-xl xs:text-lg">Relevant Personas</h3>
                <div class="filter-links text-center" data-inview-showup="showup-translate-up">
                    <a aria-label="Campaign Management" class="filter-link" href="#"
                        data-filter='["CampaignManagement"]'><i class="fa-solid fa-chart-simple"></i> Campaign Management</a>
                    <a aria-label="Financial" class="filter-link" href="#" data-filter='["Financial"]'><i class="fa-solid fa-money-bill-trend-up"></i> Financial</a>
                    <a aria-label="Healthcare" class="filter-link" href="#" data-filter='["Healthcare"]'><i class="fa-solid fa-staff-aesculapius"></i> Healthcare</a>
                    <a aria-label="Personalization" class="filter-link" href="#"
                        data-filter='["Personalization"]'><i class="fa-solid fa-person-chalkboard"></i> Personalization</a>
                    <a aria-label="Process Automation" class="filter-link" href="#"
                        data-filter='["ProcessAutomation"]'><i class="fa-solid fa-robot"></i> Process Automation</a>
                    <a aria-label="Professional Services" class="filter-link" href="#"
                        data-filter='["ProfessionalServices"]'><i class="fa-solid fa-user-tie"></i> Professional Services</a>
                    <a aria-label="Supply Chain" class="filter-link" href="#" data-filter='["SupplyChain"]'><i class="fa-solid fa-boxes-packing"></i> Supply
                        Chain</a>
                    <a aria-label="Sustainability" class="filter-link" href="#"
                        data-filter='["Sustainability"]'><i class="fa-solid fa-leaf"></i> Sustainability</a>
                    <a aria-label="Transportation" class="filter-link" href="#"
                        data-filter='["Transportation"]'><i class="fa-solid fa-truck-plane"></i> Transportation</a>
                    <a aria-label="Workplace Intelligence" class="filter-link" href="#"
                        data-filter='["WorkplaceIntelligence"]'><i class="fa-solid fa-brain"></i> Workplace Intelligence</a>
                </div>
                <h3 class="mb-1 mt-1 text-center md:text-2xl sm:text-xl xs:text-lg">Share</h3>
                {%- include social-links.html -%}
            </div>
            <div id="right-container" class="mr-4" role="region" aria-label="Accelerator List">
                <div class="filters-group mb-3 pt-0">
                    <label for="filters-search-input"
                        class="block p-0 mt-2 mb-1 text-ms-mid-gray text-sm uppercase leading-5 tracking-widest">Search</label>
                    <input name="Textbox for searching"
                        class="px-3 py-3 placeholder-ms-light-gray text-ms-mid-gray relative bg-ms-white rounded text-sm border border-ms-gray outline-none focus:outline-none focus:ring w-full filter__search js-shuffle-search"
                        type="search" id="filters-search-input" />
                </div>
                <div class="flex flex-wrap shuffle-items" role="contentinfo">
                    {% assign sorted = site.accelerators | sort: 'order' %}
                    {%- for accelerator in sorted -%}
                    {%- if accelerator.hero_image and accelerator.hero_image != "na" and accelerator.hero_image != "" -%}
                    <div class="shuffle-item m-2 max-w-sm bg-ms-white rounded-lg border border-ms-light-gray shadow-md"
                        data-groups='[{{ accelerator.tags -}}]'>
                        <div
                            class="flex align-middle items-center justify-center opacity-70 hover:opacity-100 transition duration-300 ease-in-out">
                            <a href="{{ accelerator.url -}}">
                                <img class="rounded-t-lg" src="{{ accelerator.hero_image -}}"
                                    alt="{{ accelerator.short_name -}}" />
                            </a>
                        </div>
                        <div class="p-5">
                            <div class="leading-5 uppercase text-sm tracking-widest text-ms-mid-gray">
                                {{ accelerator.accelerator_type -}}
                            </div>
                            <a href="{{ accelerator.url -}}">
                                <h4 class="mb-2 text-xl font-semibold tracking-tight text-ms-dark-blue card__title">
                                    {{ accelerator.short_name -}}</h4>
                            </a>
                            <p class="mb-3 font-normal text-ms-rich-black card__text">
                                {{ accelerator.short_text -}}
                            </p>
                            {%- if accelerator.github_url and accelerator.github_url != "na" and accelerator.github_url != "" -%}
                            <a href="{{ accelerator.github_url }}" target="_blank"
                                class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-ms-white bg-ms-blue rounded-lg hover:bg-ms-dark-blue">
                                Browse Assets on GitHub
                                <svg class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                        clip-rule="evenodd"></path>
                                </svg>
                            </a>
                            {%- endif -%}
                            {%- if accelerator.status == "GA" -%}
                            <div class="flex space-x-2 justify-end absolute top-1 right-1 mr-4 mt-4 w-full">
                                <span class="text-xs inline-block py-1 px-2.5 leading-none text-center whitespace-nowrap align-baseline font-bold bg-ms-blue text-ms-light-gray rounded-full border border-ms-dark-blue"><i class="fa-solid fa-gauge-high"></i> {{ accelerator.status -}}</span>
                            </div>
                            {%- elsif accelerator.status == "Beta" -%}
                            <div class="flex space-x-2 justify-end absolute top-1 right-1 mr-4 mt-4 w-full">
                                <span class="text-xs inline-block py-1 px-2.5 leading-none text-center whitespace-nowrap align-baseline font-bold bg-ms-yellow text-ms-dark-yellow rounded-full border border-ms-dark-yellow"><i class="fa-solid fa-flask-vial"></i> {{ accelerator.status -}}</span>
                            </div>
                            {%- elsif accelerator.status == "Nominated" -%}
                            <div class="flex space-x-2 justify-end absolute top-1 right-1 mr-4 mt-4 w-full">
                                <span class="text-xs inline-block py-1 px-2.5 leading-none text-center whitespace-nowrap align-baseline font-bold bg-ms-mid-gray text-ms-light-gray rounded-full border border-ms-dark-gray"><i class="fa-solid fa-pen-to-square"></i> {{ accelerator.status -}}</span>
                            </div>
                            {%- endif -%}
                        </div>
                    </div>
                    {%- endif -%}
                    {%- endfor -%}
                </div>
            </div>
        </div>
    </div>