<div class="grid grid-flow-col grid-cols-3 md:relative md:-top-8 lg:relative lg:-top-20">
    <div
        class="flex flex-col items-center bg-ms-dark-blue rounded-lg shadow-md mx-3 xs:hidden sm:hidden md:flex md:flex-col md:max-w-xl lg:flex-row">
        <div class="bg-ms-dark-blue h-full md:hidden lg:block lg:rounded-l-lg">
            <img class="object-cover relative t-1/2 md:hidden lg:block lg:w-32 lg:h-32" src="./assets/images/accelerator-wf.webp"
                alt="What is an accelerator?" />
        </div>
        <div class="bg-ms-blue w-full p-4 md:h-full md:rounded-lg lg:h-full lg:rounded-none lg:rounded-r-lg ">
            <h2 class="text-ms-white mt-0 md:mb-0 md:text-lg lg:mb-2 lg:text-xl">What is it?</h2>
            <p class="text-ms-white md:text-xs lg:text-sm">
                A ready-to-deploy solution offering that can be
                customized to focus on your specific business outcome to
                accelerate your digital business transformation
            </p>
        </div>
    </div>
    <div
        class="flex flex-col items-center bg-ms-dark-blue rounded-lg shadow-md mx-3 xs:hidden sm:hidden md:flex md:flex-col md:max-w-xl lg:flex-row">
        <div class="bg-ms-dark-blue h-full md:hidden lg:block lg:rounded-l-lg">
            <img class="object-cover relative t-1/2 md:hidden lg:block lg:w-32 lg:h-32" src="./assets/images/package-wf.webp" 
                alt="What does it include?" />
        </div>
        <div class="bg-ms-blue w-full p-4 md:h-full md:rounded-lg lg:h-full lg:rounded-none lg:rounded-r-lg">
            <h2 class="text-ms-white mt-0 md:mb-0 md:text-lg lg:mb-2 lg:text-xl">What does it include?</h2>
            <ul class="text-ms-white md:text-xs lg:text-sm">
                <li>- Solution Overview</li>
                <li>- Reference Architecture</li>
                <li>- Deployment Guide and Code</li>
                <li>- Snackable training videos</li>
            </ul>
        </div>
    </div>
    <div
        class="flex flex-col items-center bg-ms-dark-blue rounded-lg shadow-md mx-3 xs:hidden sm:hidden md:flex md:flex-col md:max-w-xl lg:flex-row">
        <div class="bg-ms-dark-blue h-full md:hidden lg:block lg:rounded-l-lg">
            <img class="object-cover relative t-1/2 md:hidden lg:block lg:w-32 lg:h-32" src="./assets/images/start-wf.webp"
                alt="How to get started" />
        </div>
        <div class="bg-ms-blue w-full p-4 md:h-full md:rounded-lg lg:h-full lg:rounded-none lg:rounded-r-lg">
            <h2 class="text-ms-white mt-0 md:mb-0 md:text-lg lg:mb-2 lg:text-xl">How to get started</h2>
            <ul class="text-ms-white md:text-xs lg:text-sm">
                <li>- <span class="font-semibold">Explore</span> a rich collection of accelerators to kickstart your
                    journey</li>
                <li>- <span class="font-semibold">Engage</span> the MSUS Solution Accelerator team to help with the
                    pitch, demo, or POC</li>
            </ul>
        </div>
    </div>
</div>