<section id="destinations" data-bi-name="destinations">
    <div class="grid grid-flow-col grid-cols-3 relative -top-20">
        <div class="flex flex-col items-center bg-[#00518F] rounded-lg shadow-md md:flex-row md:max-w-xl mx-3">
            <img class="object-cover w-full h-96 rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-l-lg"
                src="./assets/images/accelerator-wf.webp" alt="What is an accelerator?" />
            <div class="bg-[#266EBB] h-full p-4 rounded-r-lg">
                <h2 class="text-white text-xl">What is it?</h2>
                <p class="text-white text-sm">
                    A ready-to-deploy solution offering that can be
                    customized to focus on your specific business outcome to
                    accelerate your digital business transformation
                </p>
            </div>
        </div>
        <div class="flex flex-col items-center bg-[#00518F] rounded-lg shadow-md md:flex-row md:max-w-xl mx-3">
            <img class="object-cover w-full h-96 rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-l-lg"
                src="./assets/images/package-wf.webp" alt="What is an accelerator?" />
            <div class="bg-[#266EBB] h-full p-4 rounded-r-lg">
                <h2 class="text-white text-xl mb-4">What does it include?</h2>
                <ul class="text-white text-sm">
                    <li>- Solution Overview</li>
                    <li>- Reference Architecture</li>
                    <li>- Deployable Code and Deployment Guide</li>
                    <li>- Snackable training videos</li>
                    <li>- Engagement Request Form</li>
                </ul>
            </div>
        </div>
        <div class="flex flex-col items-center bg-[#00518F] rounded-lg shadow-md md:flex-row md:max-w-xl mx-3">
            <img class="object-cover w-full h-96 rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-l-lg"
                src="./assets/images/start-wf.webp" alt="How to get started" />
            <div class="bg-[#266EBB] h-full p-4 rounded-r-lg">
                <h2 class="text-white text-xl mb-4">How to get started</h2>
                <ul class="text-white text-sm">
                    <li>- <span class="font-semibold">Explore</span>
                        from a rich collection of accelerators to
                        kickstart
                        your journey</li>
                    <li>- <span class="font-semibold">Engage</span>
                        the MSUS Solution Accelerator team to help
                        with the
                        pitch, demo, or POC</li>
                </ul>
            </div>
        </div>
    </div>
</section>