<div
    class="grid w-full place-items-center hero min-h-screen bg-[url('../images/background/accelerator-background.webp')] bg-cover bg-center">
    <div class="grid col-start-1 row-start-1 h-[50vh] w-[75vw] bg-ms-gray bg-opacity-60 border-4 border-ms-blue border-double drop-shadow-2xl rounded-2xl">
        <div class="z-0 flex items-center justify-center max-w-[80rem] gap-4 p-4 text-center text-ms-dark-blue">
            <div class="flex flex-col max-w-lg items-center justify-center">
                <img src="./assets/images/logo/MSUS Solution Accelerators Logo social.webp" alt="Solution Accelerators | Microsoft US"
                    class="max-w-md object-scale-down">
                <h1 class="mb-5 text-5xl font-bold">Coming Soon</h1>
                <p class="mb-5 max-w-lg">Just a few more things to put into place and we'll be ready to accelerate with you.</p>
                <p class="mb-5 max-w-lg">In the meantime, please check out our <a href="https://github.com/MSUSSolutionAccelerators" target="_blank" rel="noopener"><i class="fa-brands fa-github"></i> GitHub Repo</a> for the latest Solution Accelerators from Microsoft</p>
            </div>
        </div>
    </div>
</div>