<section class="border-top has-default-focus is-hidden-interactive margin-top-sm  margin-top-none">
        <footer id="footer" data-bi-name="footer" class="footer-layout uhf-container has-padding" role="contentinfo">
                <div class="display-flex is-full-height has-padding-right-extra-large-desktop">
                        <div class="margin-inline-xs flex-shrink-0">
                                {%- if page.last_updated -%}
                                <p class="last-updated">Last Updated: {{- page.last_updated -}}</p>
                                {%- else -%}
                                <p class="last-updated">Last Updated: {{- site.time | date: "%a, %b %d, %Y %r" -}}</p>
                                {%- endif -%}
                        </div>
                </div>
                <ul class="links" data-bi-name="footerlinks">
                        <li class="manage-cookies-holder" hidden></li>
                        <li><a class="footer-link" data-mscc-ic="false" href="mailto:solaccel@microsoft.com"
                                        data-bi-name="contactLink">Email
                                        Us</a></li>
                        <li><a class="footer-link" data-mscc-ic="false" href="https://aka.ms/AAg22fu"
                                        data-bi-name="requestcontactlink">Request
                                        Contact</a></li>
                        <li><a class="footer-link" data-mscc-ic="false"
                                        href="https://github.com/MSUSSolutionAccelerators"
                                        data-bi-name="contributorGuide" target="_blank"
                                        rel="noopener noreferrer">Contribute</a></li>
                        <li><a class="footer-link" data-mscc-ic="false"
                                        href="https://go.microsoft.com/fwlink/?LinkId=521839" data-bi-name="privacy"
                                        target="_blank" rel="noopener noreferrer">Privacy &amp; Cookies</a></li>
                        <li><a class="footer-link" data-mscc-ic="false"
                                        href="https://www.microsoft.com/en-us/legal/intellectualproperty/Trademarks/EN-US.aspx"
                                        data-bi-name="trademarks" target="_blank"
                                        rel="noopener noreferrer">Trademarks</a></li>
                        <li>&copy; Microsoft 2022</li>
                </ul>
        </footer>
</section>