<div id="footer">
        <footer
                class="p-4 bg-white rounded-lg shadow md:items-center md:justify-between xs:hidden sm:hidden md:flex">
                <span class="text-sm text-gray-500 xs:hidden sm:hidden md:hidden lg:block">
                        {%- if page.last_updated -%}
                        Last Updated: {{- page.last_updated -}}
                        {%- else -%}
                        Last Updated: {{- site.time | date: "%a, %b %d, %Y %r" -}}
                        {%- endif -%}
                </span>
                <ul class="flex flex-wrap items-center text-sm text-gray-500">
                        <li>
                                <a href="mailto:solaccel@microsoft.com" class="mr-4 hover:underline md:mr-6 ">Email
                                        Us</a>
                        </li>
                        <li>
                                <a href="https://github.com/MSUSSolutionAccelerators"
                                        class="mr-4 hover:underline md:mr-6">Contribute</a>
                        </li>
                        <li>
                                <a href="https://go.microsoft.com/fwlink/?LinkId=521839"
                                        class="mr-4 hover:underline md:mr-6">Privacy &amp; Cookies</a>
                        </li>
                        <li>
                                <a href="https://www.microsoft.com/en-us/legal/intellectualproperty/Trademarks/EN-US.aspx"
                                        class="hover:underline">Trademarks</a>
                        </li>
                </ul>
                <span class="text-sm text-gray-500">&copy; Microsoft 2022</span>
        </footer>
</div>