<div id="header" class="grid w-[100vw] place-items-center bg-cover bg-left h-[300px] bg-[url('../images/banner/SolutionAccelerator_BigBanner2.webp')]">
    <div class="col-start-1 row-start-1 h-full w-full bg-opacity-0">
        <div class="z-0 flex items-center justify-center max-w-[80rem] gap-4 text-left text-neutral-content">
            <div class="w-[100vw]">
                <img src="./assets/images/logo/MS-Azure_logo_horiz_c-gray_rgb.png" alt="Microsoft Logo" class="w-72">
                <h1 class="text-ms-rich-black mt-0">{{ page.title }}</h1>
                <p class="ml-6 text-ms-rich-black text-lg">{{ page.tagline }}</p>
            </div>
        </div>
    </div>
</div>