<section id="welcome-hero"
    class="hero border-bottom has-background-docs has-background-image is-overlayed-large with-banner"
    data-bi-name="hero" role="contentinfo" aria-label="Page header">
    <div class="uhf-container">
        <div class="hero-head has-padding-top-extra-large">
            <h1 class="title is-1 has-text-docs">{{ page.title -}}
            </h1>
            <p class="font-size-lg has-line-height-reset has-text-docs">{{ page.tagline -}}</p>
            <div class="has-margin-top-large">
                <div class="columns">
                    <div class="column is-half-desktop">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>