@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply mt-4 px-6 text-4xl font-semibold tracking-tight;
  }
  h2 {
    @apply mt-4 text-3xl font-semibold tracking-tight;
  }
  h3 {
    @apply mt-4 text-2xl font-semibold tracking-tight;
  }
  a {
    @apply text-ms-dark-blue no-underline transition duration-100 ease-in-out hover:underline;
  }
}

@layer components {
  :root {
    --p: 259 94% 51%;
    --pf: 259 94% 41%;
    --sf: 314 100% 38%;
    --af: 174 60% 41%;
    --nf: 219 14% 22%;
    --in: 198 93% 60%;
    --su: 158 64% 52%;
    --wa: 43 96% 56%;
    --er: 0 91% 71%;
    --inc: 198 100% 12%;
    --suc: 158 100% 10%;
    --wac: 43 100% 11%;
    --erc: 0 100% 14%;
    --rounded-box: 1rem;
    --rounded-btn: .5rem;
    --rounded-badge: 1.9rem;
    --animation-btn: .25s;
    --animation-input: .2s;
    --btn-text-case: uppercase;
    --btn-focus-scale: .95;
    --border-btn: 1px;
    --tab-border: 1px;
    --tab-radius: .5rem;
    --pc: 0 0% 100%;
    --s: 314 100% 47%;
    --sc: 0 0% 100%;
    --a: 174 60% 51%;
    --ac: 175 44% 15%;
    --n: 219 14% 28%;
    --nc: 0 0% 100%;
    --b1: 0 0% 100%;
    --b2: 0 0% 95%;
    --b3: 180 2% 90%;
    --bc: 215 28% 17%;
  }
  
  .supertitle {
    @apply pl-6 pt-2 text-sm uppercase leading-5 tracking-widest;
  }

  .fa-facebook {
    @apply bg-fb-blue text-az-white;
  }
  .fa-facebook:hover {
    @apply bg-az-white text-fb-blue  border-fb-blue border;
  }
  .fa-facebook:visited {
    @apply bg-fb-blue text-az-white;
  }

  .fa-twitter {
    @apply bg-tw-blue text-az-white;
  }
  .fa-twitter:hover {
    @apply bg-az-white text-tw-blue  border-tw-blue border;
  }
  .fa-twitter:visited {
    @apply bg-tw-blue text-az-white;
  }

  .fa-linkedin {
    @apply bg-li-blue text-az-white;
  }
  .fa-linkedin:hover {
    @apply bg-az-white text-li-blue  border-li-blue border;
  }
  .fa-linkedin:visited {
    @apply bg-li-blue text-az-white;
  }

  .fa-envelope {
    @apply bg-az-blue text-az-white;
  }
  .fa-envelope:hover {
    @apply bg-az-white text-az-blue  border-az-blue border;
  }
  .fa-envelope:visited {
    @apply bg-az-blue text-az-white;
  }

  .filter-links a {
    @apply m-1 inline-block font-semibold hover:no-underline;
  }

  .filter-link {
    @apply bg-az-blue text-az-white border border-az-white px-4 py-[.125rem] text-left transition duration-300 ease-in-out xs:w-[210px] xs:text-xs xs:px-2 lg:h-[30px] lg:w-[250px] lg:text-base rounded-full;
  }

  .filter-link:visited {
    @apply bg-az-blue text-az-white border border-az-white ;
  }

  .filter-link:hover {
    @apply bg-az-white text-az-blue border border-az-blue ;
  }

  .filter-link.active {
    @apply bg-az-white text-az-blue pointer-events-none border border-az-blue;
  }

  .float-button {
    @apply fixed -right-[77px] top-[270px] z-[9999] cursor-pointer transition;
  }

  .float-button:hover {
    @apply -right-7;
  }

  .accelerator-grid {
    @apply grid;
    grid-template-columns: 300px auto;
  }

  .prose p {
    @apply mb-6;
  }
  .prose li {
    @apply list-inside list-disc last:mb-6;
  }

  .prose blockquote p {
    @apply text-az-blue bg-az-light-gray rounded-lg p-8 text-justify font-semibold;
  }

  .prose {
    @apply max-w-full;
  }

  .prose h2 {
    @apply mt-4 text-3xl font-semibold tracking-tight;
  }

  .prose table {
    @apply m-auto w-2/3;
  }

  .prose td {
    @apply align-top;
  }

  .prose td img {
    @apply w-auto;
  }

  .f-glass {
    @apply border-az-white rounded-lg opacity-70 shadow-cta border border-opacity-30 backdrop-filter backdrop-blur hover:opacity-100;
  }

  .hero{
    @apply grid w-screen place-items-center bg-cover bg-left;
  }
  .hero-overlay{
    @apply col-start-1 row-start-1 h-full w-full;
    background-color: hsl(var(--n)/var(--tw-bg-opacity));
  }

  .hero-content{
    @apply z-0 flex items-center justify-center max-w-[80rem] gap-4 p-4;
  }

  .text-neutral-content {
    --tw-text-opacity: 1;
    color: hsl(var(--nc)/var(--tw-text-opacity));
  }
}
