<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="Azure Accelerators | Microsoft US - {{ page.title -}}" />
    <meta name="description" content="{{ page.short_text | strip_newlines -}}" />
    <meta name="keywords"
        content="{{ page.tags | remove: '\"' | remove: '[' | remove: ']' | replace: '"','' | replace: ', ',' ' | downcase -}}" />
    <meta name="robots" content="index,follow" />
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://msussolutionaccelerators.github.io{{ page.url -}}" />
    <meta property="og:title" content="Azure Accelerators | Microsoft US - {{ page.title -}}" />
    <meta property="og:description"
        content="Accelerators are repeatable solutions that can be quickly and easily implemented for specific business outcomes to accelerate transformation journey." />
    <meta property="og:image"
        content="https://msussolutionaccelerators.github.io/./assets/images/logo/MSUS%20Solution%20Accelerators%20Logo%20social.png" />
    <meta property="og:image:alt" content="MSUS Accelerators Logo" />
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://msussolutionaccelerators.github.io{{ page.url -}}" />
    <meta property="twitter:title" content="Azure Accelerators | Microsoft US - {{ page.title -}}" />
    <meta property="twitter:description"
        content="Accelerators are repeatable solutions that can be quickly and easily implemented for specific business outcomes to accelerate transformation journey." />
    <meta property="twitter:image"
        content="https://msussolutionaccelerators.github.io/./assets/images/logo/MSUS%20Solution%20Accelerators%20Logo%20social.png" />
    <meta name="ms.sitename" content="Azure Accelerators | Microsoft US" />
    <meta name="author" content="v-skaschimer" />
    <meta name="locale" content="en-us" />
    <meta name="ms.prod" content="multiple" />
    <meta name="ms.topic" content="hub-page" />
    <meta name="page_type" content="welcome" />
    <meta name="schema" content="Welcome" />
    <meta name="site_name" content="Azure Accelerators | Microsoft US" />
    <meta name="updated_at" content="{{ page.last_updated -}}" />

    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
        integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../assets/css/styles.css" />

    <script src="https://wcpstatic.microsoft.com/mscc/lib/v2/wcp-consent.js"></script>
    <script>
        (function (c, l, a, r, i, t, y) {
            c[a] = c[a] || function () {
                (c[a].q = c[a].q || []).push(arguments)
            };
            t = l.createElement(r);
            t.async = 1;
            t.src = "https://www.clarity.ms/tag/" + i;
            y = l.getElementsByTagName(r)[0];
            y.parentNode.insertBefore(t, y);
        })(window, document, "clarity", "script", "atsb905e7q");
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VTCHQB63MB"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-VTCHQB63MB');
    </script>

    <script>
        function onConsentChanged(categoryPreferences) {
            console.log("onConsentChanged", categoryPreferences);
        }

        window.WcpConsent && WcpConsent.init("en-US", "cookie-banner", function (err, _siteConsent) {
            if (!err) {
                siteConsent = _siteConsent; //siteConsent is used to get the current consent          
            } else {
                console.log("Error initializing WcpConsent: " + err);
            }
        }, onConsentChanged, WcpConsent.themes.light);
    </script>

    <title>{{ page.accelerator_type -}} - {{ page.title -}}</title>
</head>

<body>
<div class="min-h-screen">
    {%- include hero-header.html -%}
    {%- include breadcrumbs.html -%}
    {%- include accelerator.html -%}
    {%- include footer.html -%}
</div>
    <div id="cookie-banner"></div>
    <script defer src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script defer src="../assets/js/script.js"></script>

    <script defer src="https://teams.microsoft.com/share/launcher.js"></script>
</body>

</html>