<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="Solution Accelerators | Microsoft US - {{ page.title -}}" />
    <meta name="description" content="{{ page.short_text | strip_newlines -}}" />
    <meta name="keywords"
        content="{{ page.tags | remove: '\"' | remove: '[' | remove: ']' | replace: '"','' | replace: ', ',' ' | downcase -}}" />
    <meta name="robots" content="index,follow" />
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://msussolutionaccelerators.github.io{{ page.url -}}" />
    <meta property="og:title" content="Solution Accelerators | Microsoft US - {{ page.title -}}" />
    <meta property="og:description"
        content="Solution Accelerators are repeatable solutions that can be quickly and easily implemented for specific business outcomes to accelerate transformation journey." />
    <meta property="og:image"
        content="https://msussolutionaccelerators.github.io/./assets/images/logo/MSUS%20Solution%20Accelerators%20Logo%20social.png" />
    <meta property="og:image:alt" content="MSUS Solution Accelerators Logo" />
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://msussolutionaccelerators.github.io{{ page.url -}}" />
    <meta property="twitter:title" content="Solution Accelerators | Microsoft US - {{ page.title -}}" />
    <meta property="twitter:description"
        content="Solution Accelerators are repeatable solutions that can be quickly and easily implemented for specific business outcomes to accelerate transformation journey." />
    <meta property="twitter:image"
        content="https://msussolutionaccelerators.github.io/./assets/images/logo/MSUS%20Solution%20Accelerators%20Logo%20social.png" />
    <meta name="ms.sitename" content="Solution Accelerators | Microsoft US" />
    <meta name="author" content="v-skaschimer" />
    <meta name="locale" content="en-us" />
    <meta name="ms.prod" content="multiple" />
    <meta name="ms.topic" content="hub-page" />
    <meta name="page_type" content="welcome" />
    <meta name="schema" content="Welcome" />
    <meta name="site_name" content="Solution Accelerators | Microsoft US" />
    <meta name="updated_at" content="3/28/2022 09:03:00" />
    <meta http-equiv="Cache-control" content="public">

    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
        integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../assets/css/styles.css" />

    <script type="text/javascript">
        (function (c, l, a, r, i, t, y) {
            c[a] = c[a] || function () {
                (c[a].q = c[a].q || []).push(arguments)
            };
            t = l.createElement(r);
            t.async = 1;
            t.src = "https://www.clarity.ms/tag/" + i;
            y = l.getElementsByTagName(r)[0];
            y.parentNode.insertBefore(t, y);
        })(window, document, "clarity", "script", "atsb905e7q");
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VTCHQB63MB"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-VTCHQB63MB');
    </script>

    <title>{{ page.accelerator_type -}} - {{ page.title -}}</title>
</head>

<body class="h-full">
    {% include header.html %}
    <section id="breadcrumbs">
        <nav class="flex ml-6 text-gray-700 bg-gray-50 rounded-lg border border-gray-200 dark:bg-gray-800 dark:border-gray-700"
            aria-label="Breadcrumb">
            <ol class="inline-flex items-center space-x-1 md:space-x-3">
                <li class="inline-flex items-center">
                    <a href="../"
                        class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">
                        <svg class="mr-2 w-4 h-4" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z">
                            </path>
                        </svg>
                        Home
                    </a>
                </li>
                <li aria-current="page">
                    <div class="flex items-center">
                        <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span
                            class="ml-1 text-sm font-medium text-gray-400 md:ml-2 dark:text-gray-500">{{ page.title -}}</span>
                    </div>
                </li>
            </ol>
        </nav>
    </section>
    <section>
        <div>
            <div class="flex align-middle justify-between mb-3">
                <div class="w-2/3">
                    <h1>{{ page.title -}}</h1>
                    {%- if page.status != "Submitted" -%}
                    <div class="supertitle">{{ page.accelerator_type -}}</div>
                    {%- else -%}
                    <div class="supertitle">{{ page.accelerator_type -}} (BETA)</div>
                    {%- endif -%}
                    <article class="pl-6 pt-2 prose">{{ content -}}</article>
                </div>
                <div class="w-1/3 ml-8">
                    <img src="../{{ page.hero_image -}}" alt="{{ page.title -}} Hero Image">
                    {%- if page.classification and page.classification != "" -%}
                    <h3 class="mt-4">Relevant Personas</h3>
                    <p>{{ page.classification -}}</p>
                    {%- endif -%}
                    {%- if page.industries and page.industries != "" -%}
                    <h3 class="mt-4">Relevant Industries</h3>
                    <p>{{ page.industries -}}</p>
                    {%- endif -%}
                    {%- if page.technology_stack  and page.technology_stack != "" -%}
                    <h3 class="mt-4">Technology Stack</h3>
                    <p>{{ page.technology_stack -}}</p>
                    {%- endif -%}
                    <h3 class="mt-4">Technical Value Assets</h3>
                    <div>
                        {%- if page.github_url  and page.github_url != "" -%}
                        <div>
                            <a href="{{ page.github_url -}}" target="_blank" rel="noopener noreferrer">
                                <i name="GitHub Repository Link" class="fa-brands fa-github fa-xs"></i> GitHub
                                Repository
                            </a>
                        </div>
                        {%- endif -%}
                        {%- if page.demo_url  and page.demo_url != "" -%}
                        <div">
                            <a href=" {{ page.demo_url -}}" target="_blank" rel="noopener noreferrer">
                                <i name="Demo Environment Link" class="fa-solid fa-cloud fa-xs"></i> Demo Environment
                            </a>
                        </div>
                        {%- endif -%}
                    </div>
                    <h3 class="mt-4">Share</h3>
                    {%- include social-links.html -%}
                </div>
            </div>
        </div>
    </section>
    {%- include footer.html -%}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="../assets/js/script.js" type="text/javascript"></script>

    <script async defer src="https://teams.microsoft.com/share/launcher.js"></script>
</body>

</html>