<!doctype html>
<html class=" is-full welcome has-default-focus theme-light" lang="en-us" data-css-variable-support="true"
  data-authenticated="false" data-auth-status-determined="false" data-target="docs">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="title" content="{{ page.title }}" />
  <meta name="description" content="{{ page.site_description }}" />
  <meta name="keywords" content="{{ page.keywords}}" />
  <meta name="robots" content="index,follow" />
  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://msussolutionaccelerators.github.io/" />
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:description" content="{{ page.site_description }}" />
  <meta property="og:image" content="{{ page.social_image }}" />
  <meta property="og:image:alt" content="MSUS Accelerators Logo" />
  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="https://msussolutionaccelerators.github.io/" />
  <meta property="twitter:title" content="Accelerators | Microsoft US" />
  <meta property="twitter:description" content="{{ page.site_description }}" />
  <meta property="twitter:image" content="{{ page.social_image }}" />
  <meta name="ms.sitename" content="{{ page.title -}}" />
  <meta name="author" content="v-skaschimer" />
  <meta name="locale" content="en-us" />
  <meta name="ms.prod" content="multiple" />
  <meta name="ms.topic" content="hub-page" />
  <meta name="page_type" content="welcome" />
  <meta name="schema" content="Welcome" />
  <meta name="site_name" content="{{ page.title }}" />
  <meta name="updated_at" content="2/8/2022 16:50:00" />

  <link rel="icon" href="/favicon.ico" type="image/x-icon">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
    integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="../assets/css/styles.css">

  <script src="https://wcpstatic.microsoft.com/mscc/lib/v2/wcp-consent.js"></script>
  <!-- Microsoft Clarity Code -->
  <script>
    (function (c, l, a, r, i, t, y) {
      c[a] = c[a] || function () {
        (c[a].q = c[a].q || []).push(arguments)
      };
      t = l.createElement(r);
      t.async = 1;
      t.src = "https://www.clarity.ms/tag/" + i;
      y = l.getElementsByTagName(r)[0];
      y.parentNode.insertBefore(t, y);
    })(window, document, "clarity", "script", "atsb905e7q");
  </script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script defer src="https://www.googletagmanager.com/gtag/js?id=G-VTCHQB63MB"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-VTCHQB63MB');
  </script>

  <script>
    function onConsentChanged(categoryPreferences) {
      console.log("onConsentChanged", categoryPreferences);
    }

    window.WcpConsent && WcpConsent.init("en-US", "cookie-banner", function (err, _siteConsent) {
      if (!err) {
        siteConsent = _siteConsent; //siteConsent is used to get the current consent          
      } else {
        console.log("Error initializing WcpConsent: " + err);
      }
    }, onConsentChanged, WcpConsent.themes.light);
  </script>

  <title>{{ page.title }}</title>
</head>

<body lang="en-us">
  {{ content -}}
  <div id="cookie-banner"></div>
  <script defer src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/shufflejs@6.0.0/dist/shuffle.min.js"></script>
  <script defer src="./assets/js/script.js"></script>
  <script defer src="https://teams.microsoft.com/share/launcher.js"></script>

</body>

</html>